.flex-container{
    background-color: lightcoral !important;
    text-align:center;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    /*flex-flow:row-reverse wrap;*/

}

.flex-container div{
    background-color: beige;
    margin: 10px;
    padding:20px;
    font-size:30px;
    color:black;
    width:150px;
    justify-content: space-between;
    font-style: italic;
    
}
.container{
    text-align: center;
}
h1{
    font-style: italic;
    color:lightcoral ;  
}
P{
    font-family:monospace;
}